* {
  font-family: Helvetica;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.button {
  color: rgb(0, 0, 0);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  background-color: #c8c8c8;
  display: block;
  position: relative;
  padding: 100px 100px;
  margin: 1em;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffffff, 0 10px 0 #a8a8a8;
  -moz-box-shadow: inset 0 1px 0 #ffffff, 0 10px 0 #a8a8a8;
  box-shadow: inset 0 1px 0 #ffffff, 0 10px 0 #a8a8a8;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
}

.button:active {
  top: 10px;
  background-color: #f70000;

  -webkit-box-shadow: inset 0 1px 0 #070606, inset 0 -3px 0 #910000;
  -moz-box-shadow: inset 0 1px 0 #070606, inset 0 -3pxpx 0 #910000;
  box-shadow: inset 0 1px 0 #070606, inset 0 -3px 0 #910000;
}

.fader {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin: 1em;
  padding: 2px;
  background: #b0b0b0;
  width: 0;
  height: 250px;
  top: 10%;
  writing-mode: vertical-lr;
}

.fader::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 1em;
  border-radius: none;
  background-color: #393939;
  overflow: visible;
  cursor: pointer;
}
