* {
  font-family: "Courier New", Courier, monospace;
}

.button {
  width: 25vw;
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: rgba(197, 242, 239, 1);
  border-radius: 25%;
}
.button:active {
  background-color: rgba(197, 242, 239, 0.5);
}

.button-section {
  display: flex;
  gap: 5%;
  justify-content: space-evenly;
  margin: 6em;
}

.fader-section {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.fader__volume {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin: 0;
  padding: 0;
  background: #c5f2ef;
  width: 25vw;
  transform: rotate(270deg);
}
